{{>layout/header}}

<h2>To do App</h2>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <input type="text"
                   id="title"
                   placeholder="abc"
                   class="form-control input-default w-50"  />
            <a href="/hello" role="button" class="btn btn-secondary">hello</a>
            <button type="button" class="btn btn-primary" id="btn-save">Add</button>
        </div>
    </div>
</div>
{{>layout/footer}}