{{>layout/header}}

<h2>To do App</h2>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <input type="text"
                   id="inputItem"
                   placeholder="abc"
                   class="form-control input-default w-50"  />
            <a href="/hello" role="button" class="btn btn-primary">Add Todo</a>
        </div>
    </div>
</div>
{{>layout/footer}}